{
  "textConfig": {
    "details": "working on a bot",
    "state": "adding more support"
  },
  "imageConfig": {
    "smallKey": "pusheendj",
    "largeKey": "pusheendj",
    "smallText": "Google Play Music",
    "largeText": "Listening to Google Play Music",
    "showButton": true
  },
  "serviceConfig": {
    "titlePrefix": "🎵",
    "artistPrefix": "🎤",
    "useUserInterface": false,
    "useTimestamps": true,
    "customClientID": "youridhere",
    "IMDB": {
      "defaultID": "tt3659388"
    },
    "FooBar2000": {
      "txtLocation": ""
    },
    "YouTube": {
      "browser": "chrome"
    },
    "lastFM": {
      "key": "",
      "secret": "",
      "username": ""
    }
  },
  "clientID": "youridhere"
}